$darker: #1d1f21;
$dark: #282a2e;
$light: #373b41;
// $lighter: #c5c8c6;
$lighter: #fff;
$red: #cc6666;
$blue: #a3c4df;
$aqua: #8abeb7;
$green: #b5bd68;

$print-darker: #fff;
$print-dark: #efefef;
$print-light: #d6d6d6;
$print-lighter: #4d4d4c;
$print-red: #c82829;
$print-blue: #4271ae;
$print-aqua: #3e999f;
$print-green: #718c00;

$gutter-width: 20px;

@font-face {
  font-family: 'droid-sans-mono';
  src: url('/fonts/DroidSansMono.eot');
  src: url('/fonts/DroidSansMono.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DroidSansMono.woff') format('woff'),
    url('/fonts/DroidSansMono.ttf') format('truetype'),
    url('/fonts/DroidSansMono.svg#droid-sans-mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid-sans';
  src: url('/fonts/DroidSans.eot');
  src: url('/fonts/DroidSans.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DroidSans.woff') format('woff'),
    url('/fonts/DroidSans.ttf') format('truetype'),
    url('/fonts/DroidSans.svg#droid-sans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid-sans-bold';
  src: url('/fonts/DroidSans-Bold.eot');
  src: url('/fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DroidSans-Bold.woff') format('woff'),
    url('/fonts/DroidSans-Bold.ttf') format('truetype'),
    url('/fonts/DroidSans-Bold.svg#droid-sans-bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@media screen and (-ms-high-contrast: none) {
  html, body {
    -ms-touch-action: pan-y;
  }
}

body {
  font-family: 'droid-sans', Helvetica, Roboto, Arial, sans-serif;
  background-color: $darker;
  color: $lighter;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 1.3em;
  margin: 0;
}

body.print, body.invert {
  background-color: $print-darker;
  color: $print-lighter;
}

body.presenter {
  font-size: 1.1em;
}

body {
  overflow: hidden;
}

body.presenter, body.print {
  overflow: auto;
}

hr {
  border-color: $blue;
}

.print hr, .invert hr {
  border-color: $print-blue;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: 'droid-sans-bold', Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
}

.header h1 {
  font-family: 'droid-sans-bold', Helvetica, Roboto, Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0;
}

h1 {
  text-transform: uppercase;
  font-family: 'droid-sans', Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.2em;
  margin-bottom: 0.3em;
}

.title {
  text-transform: uppercase;
  font-family: 'droid-sans', Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.2em;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color 0.5s;
  &:hover {
    color: $aqua;
  }
}

body.print, body.invert {
  a:hover {
    color: $print-aqua;
  }
}

.header, .footer {
  background-color: $dark;
  #title {
    font-family: 'droid-sans', Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  > * {
    margin: 0;
  }

  font-size: 0.8em;
}

body.print, body.invert {
  .header, .footer {
    background-color: $print-dark;
  }
}

.header {
  min-height: 100px;
  padding: 10px 10px 0 10px;
  .logo {
    float: left;
    margin-right: $gutter-width;
    padding: 5px;
    img {
      max-height: 70px;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 54px;

  #author {
    float: right;
  }
  #section-title {
    float: left;
  }
  #author, #section-title {
    margin: 10px;
  }
}
.presenter .footer {
  height: 58px;
}

.box {
  border: 1px solid $light;
  margin-bottom: $gutter-width;
  .title, .content {
    padding: ($gutter-width / 2);
  }
  .title {
    background-color: $light;
    color: $blue;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    h1, h2, h3, h4, h5, h6 {
      font-family: 'droid-sans', Helvetica, Roboto, Arial, sans-serif;
      font-weight: normal;
    }
    > * {
      margin: 0;
    }
  }
}

body.print, body.invert {
  .box {
    border: 1px solid $print-light;
    .title {
      background-color: $print-light;
      color: $print-blue;
    }
  }
}

.box.alert {
  border: 1px solid $red;
  .title {
    background-color: $red;
    color: $dark;
  }
}

body.print, body.invert {
  .box.alert {
    border: 1px solid $print-red;
    .title {
      background-color: $print-red;
      color: $print-dark;
    }
  }
}

.box.success {
  border: 1px solid $green;
  .title {
    background-color: $green;
    color: $dark;
  }
}

body.print, body.invert {
  .box.success {
    border: 1px solid $print-green;
    .title {
      background-color: $print-green;
      color: $print-dark;
    }
  }
}

p,li,ul,span,strong,em,th,td {
  &.alert {
    color: $red;
  }
  &.success {
    color: $green;
  }
}

body.print, body.invert {
  p,li,ul,span,strong,em,th,td {
    &.alert {
      color: $print-red;
    }
    &.success {
      color: $print-green;
    }
  }
}

.slides {
  .slide {
    page-break-after: always;
    display: none;
    margin: 20px;
  }
  .slide.active {
    display: block;
  }
}

.pause {
  opacity: 0;
}

.presenter .pause {
  opacity: 0.2;
}

.presenter .pause:not(.show) .pause:not(.show) {
  opacity: 1;
}

.pause {
  transition: opacity 0.5s, color 0.5s;
  &.show {
    opacity: 1;
  }
}

#progress, .presenter #time-progress {
  height: 4px;
  background-color: $darker;
  span {
    float: left;
    height: 100%;
    transition: width 0.5s;
  }
}

body.print, body.invert {
  #progress, .presenter #time-progress {
    background-color: $print-darker;
  }
}

.footer #progress, .footer #time-progress {
  margin: 0;
}

#progress span {
  background-color: $light;
}

#time-progress span {
  background-color: $blue;
}

#time-progress.overtime span {
  background-color: $red;
}

body.print, body.invert {
  #progress span {
    background-color: $print-light;
  }

  #time-progress span {
    background-color: $print-blue;
  }

  #time-progress.overtime span {
    background-color: $print-red;
  }
}

.codeblock {
  border: 1px solid $light;
  margin-bottom: $gutter-width;
  .title, pre {
    padding: $gutter-width / 2;
  }
  .title {
    background-color: $dark;
    border-bottom: 1px solid $light;
  }
}

pre {
  margin-top: 0;
}

code {
  font-family: 'droid-sans-mono';
  font-size: 0.95em;
}

body.print, body.invert {
  .codeblock {
    border: 1px solid $print-light;
    .title, pre {
      padding: $gutter-width / 2;
    }
    .title {
      background-color: $print-dark;
      border-bottom: 1px solid $print-light;
    }
  }
}

.row.expand {
  width: 100%;
  margin: 0;
}

#toc {
  .toc-slides li.active {
    &, a {
      color: $red;
    }
  }
}

.slide .active {
  color: $blue;
}

.remote #previous-link, .remote #next-link {
  background: $dark;
  width: 15%;
  text-align: center;
  height: 100%;
  padding-top: 10px;
}

body.print, body.inverse {
  #toc {
    .toc-slides li.active {
      &, a {
        color: $print-red;
      }
    }
  }

  .slide .active {
    color: $print-blue;
  }

  .remote #previous-link, .remote #next-link {
    background: $print-dark;
  }
}

.fixed-header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  height: 50px;
}

.controls {
  height: 100%;
}

.remote > .row {
  position: absolute;
  top: 50px + $gutter-width;
}

.remote #previous-link {
  float: left;
}

.remote #toc {
  display: inline-block;
  width: 70%;
  select {
    height: 50px;
  }
}

.remote #next-link {
  float: right;
}

table {
  border: solid 1px $light;
  th {
    background: $light;
    text-align: left;
  }
  td, th {
    padding: 2px 10px;
  }
  tr:nth-child(even) td {
    background: $dark;
  }
}

body.print, body.inverse {
  table {
    border: solid 1px $print-light;
    th {
      background: $print-light;
    }
    tr:nth-child(even) td {
      background: $print-dark;
    }
  }
}

.vspace {
  height: 4em;
}

.right {
  float: right;
}

.left {
  float: left;
  margin-right: 2 * $gutter-width;
}

.presenter .hidden {
  opacity: 0.2;
}

.hidden {
  display: none;
}

.slide {
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 2 * $gutter-width;
  margin-bottom: 0;
  &.right {
    right: 0;
  }
}

.remote .jumbo {
  font-size: 1em;
}

.jumbo {
  font-size: 1.5em;
}

.pause.active .note {
  background-color: $green;
  z-index: 9999;
}

body.print, body.inverse {
  .pause.active .note {
    background-color: $print-green;
  }
}


body.print, body.inverse {
  .note {
    border: 1px solid $print-dark;
    background-color: $print-blue;
    color: $print-dark;
  }
}

body:not(.presenter) .note, body.remote .note {
  display: none;
}

.qr {
  padding: 5px;
  background-color: white;
}

body > .content {
  position: absolute;
  width: 100%;
  top: 100px;
  bottom: 54px;
  > .row {
    height: 100%;
  }
}

.header.hidden + .content {
  top: 0px;
}

.slides, .section, .slide {
  height: 100%;
}

.presenter > .content > .row > .columns {
  height: 100%;
  & > .row {
    height: 100%;
  }
}
